@media only screen and (max-width: 1025px) {
    .container {
        max-width: 948px;
    }

    .menu-header__list {
        padding: 0 10px;
    }
  }

@media (max-width: 769px) {
    body {
        background-size: contain;
    }
   
    .container {
        max-width: 648px;
    }

    .main .container {
        flex-direction: column;
    }

    .main__box:nth-child(2) {
        margin: 25px 0;
    }

    .navigation {
        padding-top: 10px;
    }

    .menu-header.mobile-menu {
        display: none;
        width: 400px;
        height: 1000px;
        position: absolute;
        left: -100px;
        top: -25px;
        background-color: #341139;
        z-index: 3;
        text-align: center;
        transition: all ease .4s;
    }

    .menu-toggle span{
        display: block;
    }
  
    .mobile-menu li a {
        color: #341139;
        color: #efefef;
        font-size: 23px;
  
    }
    .mobile-menu li {
        padding: 20px 0;
    }
  
    .mobile-menu li:nth-child(1){
      margin-top: 30px;
    }

    .hamburger {
        display: inline-block;
    }

    .btn-login {
        margin-left: -200px;
    }
}

@media (max-width: 426px){
    .container {
        max-width: 348px;
    }

    .navigation {
        margin-right: -100px;
    }

    .btn-login {
        width: 120px;
        margin-right: 20px;
        font-size: 13px;
        padding: 5px 0;
    }

    .menu-header.mobile-menu {
       
       width: 200px; 
       left: -150px;
    }


    .mobile-menu li a {
        font-size: 17px;
    }

    .header__box-image .img__logo {
        width: 150px;
    }

    .main__box:nth-child(2){
        min-width: auto;
    }

    .img-currency-menu {
        width: 14px;
        margin-right: 3px;
    }

    .currency__item-in:nth-child(1){
        max-width: 100px;
    }

    .currency__item-text {
        font-size: 12px;
    }

    .arrow-down::before {
        width: 4px;
        height: 4px;
    }

    span#display-1, span#display-2 {
        font-size: 12px;
    }

    .currency__item-in:nth-child(1){
        max-width: 65px;
    }

    .currency__item-text{
        font-size: 8.5px;
    }

    input.currency__item-amount{
        margin-top: 0;
        font-size: 18px;
    }

    .img-currency:nth-child(2){
        margin: 0 4px;
    }
}

@media (max-width: 376px) {
    .container {
        max-width: 300px;
    }

    .img__logo {
        width: 130px;
    }

    .menu-header.mobile-menu {
        left: -130px;
    }
    .btn-login {
        width: 90px;
        font-size: 12px;
        margin-right: 35px;
        margin-left: -105px;
    }

   
    .currency__item-text {
        font-size: 10px;
    }

}
@media (max-width: 321px){
    .menu-header.mobile-menu {
        left: -150px;
    }
}